.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

h4 {
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

.nav-wrapper {
  // max-width: 600px;

  .nav {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 1000px) {
      height: auto;
      flex-direction: column;

      .game-buttons {
        flex-direction: column;

        button {
          margin: 5px 0;
        }
      }

      form {
        flex-direction: column;

        input {
          margin: 5px 0;
          width: 100%;
        }

        button {
          margin: 5px 0;
        }
      }
    }

    .game-buttons {
      display: flex;
      justify-content: center;
    }

    form {
      display: flex;
      justify-content: center;

      input {
        border-radius: 10px;
        text-align: center;

        font-size: 18px;
        font-weight: bold;
      }

      button {
        background-color: cornflowerblue;
        font-size: medium;
        font-size: 18px;
        white-space: nowrap;

        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

.game-rules-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 1000px) {
    grid-template-columns: 300px;
  }

  .game-instructions {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      li {
        color: white;

        span {
          text-decoration: underline;
        }
      }
    }
  }

  .game-rules {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ol {
      li {
        color: white;
      }
    }
  }
}

body {
  background-color: black;
}

button {
  padding: 5px 20px;
  background-color: limegreen;
  color: rgb(208, 252, 195);
  margin: 0 20px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s all ease;
  font-size: 18px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.grid {
  padding: 50px;
}
